/*
=========================================
    RMD to PPT Conversion
=========================================
*/
/* Set Default font size and enable auto adjust on css zoom */
body { font-size: 30px !important; -webkit-text-size-adjust: auto;}
h1 { font-size: 3em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.8em; }
p, ul, ol { line-height: 1.2em; }
.ul { text-decoration: underline; }

slides > slide {
	font-size: 100%;
}

slides > slide:not(.nobackground):after {
	font-family: var(--font-family);
}

/* POPOVERS ====================== */

a:hover {
  color: inherit !important;
}

.popover {
	max-width: 500px;
	font-size: 0.8em;
	border-width: 5px;
	border-radius: 10px;
}

.popover-title, 
.popover-header {
	font-size: 1.0em;
}

.popover .arrow {
	visibility: hidden;
}

/*
=========================================
    Title Page Editing
=========================================
*/
.segue {
	padding: 40px 60px;
}

.title-slide hgroup h1 {
	font-size: 3em;
	line-height: 1.2;
	color: var(--heading-color);
}

.title-slide hgroup h2 {
    font-size: 2em;
    color: var(--heading-color-75);
    font-weight: 300;
}

.title-slide hgroup p {
	font-size: 1em;
	color: var(--font-color);
}
/*
=========================================
    Sections Editing
=========================================
*/
slides > slide.dark {
	background-color: var(--sec) !important;
}

.segue h2 {
	font-size: 2.0em;
	line-height: 1.2;
}

.segue h3 {
	line-height: 1.2;
}

/*
=========================================
    Normal Slides Editing
=========================================
*/
hgroup h2, hgroup h3 {
	margin-bottom: 0.2em;
}

hgroup h3 {
	font-size: 1.5em;
	color: var(--heading-color-50);
	padding-left: 10px;
}

/*
=========================================
    Invert Slides Editing
=========================================
*/
slide.dark hgroup h2, 
slide.dark hgroup h3, 
slide.dark h1,
slide.dark h2,
slide.dark h3,
slide.dark h4,
slide.dark h5,
slide.dark h6,
slide.dark p,
slide.dark ul,
slide.dark ol {
	color: var(--pri);
}

slides > slide.dark:after {
	color: var(--pri-50);
}


/*
=========================================
    Notes
=========================================
*/

.note section {
	background-color: var(--pri);
	color: var(--text-color);
	font-size: 18px;
}

slide.dark .note h1,
slide.dark .note h2,
slide.dark .note h3,
slide.dark .note h4,
slide.dark .note h5,
slide.dark .note h6,
slide.dark .note p,
slide.dark .note ul,
slide.dark .note ol {
	color: var(--text-color);
}


/*
=========================================
    Custom Deck - QUOTES
=========================================
*/
.quotes {
	display: flex;
	width: 90%;
	height: 90%;
	padding-top: 25px;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.quotes .cite {
	text-align: right;
}

.quotes .cite .sub {
	font-size: 0.8em;
	opacity: 0.5;
}

